{% extends 'core/base_template.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'pessoa:update' object.pk %}" method="post" id="id_pessoa:update_form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="id_pessoa:update_form_submit">
    </form>

    <form action="{% url 'pessoa:update' object.pk %}" method="post" id="id_pessoa_delete_form">
        {% csrf_token %}
        {{ deletar_form }}
        <input type="submit" value="id_pessoa_delete_form_submit">
    </form>

    <form action="{% url 'pessoa:update' object.pk %}" method="post" id="id_pessoa_revalidate_form">
        {% csrf_token %}
        {{ revalidar_form }}
        <input type="submit" value="id_pessoa_revalidate_form_submit">
    </form>


{% endblock content %}