{% extends 'core/base_template.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'pessoa:update' object.pk %}" method="post" id="id_pessoa:update_form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="id_pessoa:update_form_submit">
    </form>

    <form action="{% url 'pessoa:update' object.pk %}" method="post" id="{{ deletar_form_id }}">
        {% csrf_token %}
        {{ deletar_form }}
        <input type="submit" name="{{ deletar_form_id }}" value="{{ deletar_form_id }}">
    </form>

    <form action="{% url 'pessoa:update' object.pk %}" method="post" id="{{ revalidar_form_id }}">
        {% csrf_token %}
        {{ revalidar_form }}
        <input type="submit" name="{{ revalidar_form_id }}" value="{{ revalidar_form_id }}">
    </form>


{% endblock content %}

{% block extra_js %}
    <script>
        $('#{{ revalidar_form_id }}').on('submit', function (event) {
            event.preventDefault();
            console.log("form " + this.id + " submitted!"); // sanity check
            //console.log(this);
            create_post(this);
        });

        $('#{{ deletar_form_id }}').on('submit', function (event) {
            event.preventDefault();
            console.log("form " + this.id + " submitted!"); // sanity check
            //console.log(this);
            create_post(this);
        });

        // AJAX for posting
        function create_post(form_element) {
            console.log("create post is working!"); // sanity check
            var data = $(form_element).serializeArray();
            console.table(data);

            data.push({'name': form_element.id, 'value': form_element.id});

            //console.table(data);

            $.ajax({
                url: $(form_element).attr('action').replace(/\s/g, ""), // the endpoint
                type: "POST", // http method
                data: data // data sent with the post request
            }).done(function (json) {
                // handle a successful response
                console.log(json); // log the returned json to the console

                console.log("done"); // another sanity check
            }).fail(function (xhr, errmsg, err) {
                // handle a non-successful response
                console.log('fail');
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console

            }).always(function () {
                console.log('always');
            })
        }

    </script>

{% endblock extra_js %}